


body {
background-image: url(Blue.jpg);
margin-top: 15 px;
}

#actions{
font-weight: normal;
color: #000000;
font-size: 10;
padding: 5px;
width: 100%
}

.actionItem{
font-size: 10;
}

.toolbar{
position: relative;
top:200;
left:400;
width: 100%;
height; 30px;
background: #008B8B;
}




//////For the Webcam
#video {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width:320px;
  height:240px;
  top: 100px; 
}

#photo {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width:320px;
  height:240px;
}

#my-image{
	opacity: 0.9;
}

#canvas {
  display:none;
}

.camera {
  width: 340px;
  display:inline-block;
}

#output {
  width: 340px;
  display:inline-block;
  left: 10px;
}

#startbutton {
  display:block;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  /*bottom:32px;*/
  background-color: rgba(113, 150, 27, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1.0);
  width: 200px;
  height: 40px;
}

.contentarea {
  font-size: 16px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  width: 760px;
}

